services:
  backend:
    build: ./backend
    ports:
      - "5001:5000"
    environment:
      - JWT_SECRET_KEY=c7d57142e46f169ce9dbeb8d96603e46
    volumes:
      - ./backend:/app
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "5174:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend

  db:
    image: alpine:latest
    command: tail -f /dev/null
    volumes:
      - ./backend/data.db:/data/data.db